<%- include("../partials/head.ejs", { title: "Add Item to Cart" }) %>
<%- include("../partials/header.ejs") %>
<%- include("../partials/messages.ejs") %>


<h1>Add Item to Cart</h1>

<form method="POST" action="/cart/add" class="form">
  <div class="form-group">
  <div>
    <label for="productId">Select Product:</label>
    <select name="productId" id="productId" required>
      <% products.forEach(product => { %>
        <option value="<%= product._id %>"><%= product.name %> - $<%= product.price %></option>
      <% }) %>
    </select>
  </div>
  <div>
    <label for="quantity">Quantity:</label>
    <input type="number" name="quantity" id="quantity" min="1" required />
  </div>
  <input type="hidden" name="_csrf" value="<%= _csrf %>" />
  <button type="submit" class="button">Add to Cart</button>
  </div>
</form>

<%- include("../partials/footer.ejs") %>
