<%- include("../partials/head.ejs", { title: "Your Shopping List" }) %>
<%- include("../partials/header.ejs") %>
<%- include("../partials/messages.ejs") %>


<h1>Your Shopping List</h1>
<div>
<ul id="shopping-list" class="list-group">
    <div class="add-to-list">
<a href="/shoppingList/add"><button type="submit" class="button">Add Item to Shopping List</button></a>
</div>
  <% if (shoppingList && shoppingList.products.length > 0) { %>
    <% shoppingList.products.forEach(item => { %>
      <li class="list-group-item">
        <div class="container">
          <div class="item-info">
            <% if (item.done) { %>
              <strike><%= item.product.name %></strike>
            <% } else { %>
            <a href="/shoppingList/markItemDone/<%= item.product._id %>"><svg class="buttonIcon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                  <path d="M9 11l3 3L22 4l-1.41-1.41L12 12.17l-2.59-2.58L9 11z"/>
                </svg></a>
              <span><%= item.product.name %></span>
            <% } %>
             <span class="quantity">(<%= item.quantity %>)</span>
          </div>
          <div class="delete-button">
            <form method="POST" action="/shoppingList/delete/<%= item.product._id %>" style="display: inline">
              <button type="submit" class="button"><i class="fas fa-trash-alt"></i></button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
          </div>
        </div>
      </li>
    <% }) %>
  <% } else { %>
    <li class="empty-list">Your shopping list is empty.</li>
  <% } %>
</ul>
</div>


<nav aria-label="Page navigation">
  <ul class="pagination">
    <% for(let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= page === i ? 'active' : '' %>">
        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
      </li>
    <% } %>
  </ul>
</nav>

<%- include("../partials/footer.ejs") %>
