<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>

<h1>Product List</h1>

<% if (successMessages && successMessages.length > 0) { %>
  <div class="alert alert-success">
    <% successMessages.forEach(function (msg) { %>
      <p><%= msg %></p>
    <% }); %>
  </div>
<% } %>

<% if (errorMessages && errorMessages.length > 0) { %>
  <div class="alert alert-danger">
    <% errorMessages.forEach(function (msg) { %>
      <p><%= msg %></p>
    <% }); %>
  </div>
<% } %>

<% if (products.length > 0) { %>
 <table>
    <tr>
      <th>Name</th>
      <th>Price</th>
    </tr>
    <% products.forEach(product => { %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><a href="/products/edit/<%= product._id %>">Edit</a></td>
      </tr>
    <% }) %>
  </table>

  <nav aria-label="Page navigation">
    <ul class="pagination">
      <% for(let i = 1; i <= totalPages; i++) { %>
        <li class="page-item <%= page === i ? 'active' : '' %>">
          <a class="page-link" href="?page=<%= i %>"><%= i %></a>
        </li>
      <% } %>
    </ul>
  </nav>
<% } else { %>
  <p>No products found.</p>
<% } %>

<a href="/products/new" class="btn btn-primary">Add New Product</a>

<%- include("../partials/footer.ejs") %>
