<%- include("../partials/head.ejs", { title: "Products" }) %>
<%- include("../partials/header.ejs") %>
<%- include("../partials/messages.ejs") %>

<h1>Products List</h1>

<ul id="cart-list" class="list-group">
    <div class="add-to-list">
    <a href="/products?sort=name"><button type="submit" class="button">Name (A-Z)</button></a> 
    <a href="/products?sort=pricelow"><button type="submit" class="button">Price (Low to High)</button></a>
   <a href="/products?sort=pricehigh"><button type="submit" class="button">Price (High to Low)</button></a>
</div>
<div class="add-to-list">
    <a href="/products/new"><button type="submit" class="button">Add New Product</button></a>
</div>
  <% if (products.length > 0) { %>
    <% products.forEach(product => { %>
      <li class="list-group-item">
        <div class="container">
        <div class="item-info">
         <span><%= product.name %></span>
            <span class="quantity">$<%= product.price.toFixed(2)  %></span>
          </div>
        <div class="delete-button">
            <a href="/products/edit/<%= product._id %>"><button type="submit" class="button">Edit</button></a>
            <form method="POST" action="/products/delete/<%= product._id %>" style="display: inline">
              <button type="submit" class="button">Delete</button>
              <input type="hidden" name="_csrf" value="<%= _csrf %>" />
            </form>
        </div>
        </div>
      </li>
    <% }) %>
  <% } else { %>
    <li class="empty-list">No products found.</li>
  <% } %>
</ul>
</div>


<nav aria-label="Page navigation">
  <ul class="pagination">
    <% for(let i = 1; i <= totalPages; i++) { %>
      <li class="page-item <%= page === i ? 'active' : '' %>">
        <a class="page-link" href="?page=<%= i %>"><%= i %></a>
      </li>
    <% } %>
  </ul>
</nav>

<%- include("../partials/footer.ejs") %>
